.navbar{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black;
    /* padding: 16px; */
    align-items: center;
}
/* Logo Part */
.nav-logo{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;
}

.nav-logo p{
    color: rgb(124, 120, 120);
    font-weight: 600;
    font-size: 35px;
}

/* Menu */
.nav-menu{
    display: flex;
    gap: 45px;
}

.nav-menu li{
    list-style: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.nav-menu li hr{
    width: 80%;
    height: 2px;
    background-color: red;
    border-radius: 25px;

}

/* Cart  */
.nav-cart-menu{
    display: flex;
    align-items: center;
    gap: 35px;
}

.loginBtn{
    padding: 5px 25px;
    border-radius: 15px;
}

.loginBtn:active{
    background-color: #d5d3d3;
}

.nav-cart-count{
    width: 22px ;
    height: 22px;
    border-radius: 11px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -45px;

}